.jumbotron {
  background-color: #e8dffc;
}

.jumbotron,
#project,
#about,
#contact {
  padding-top: 5rem;
}

.countainer {
  padding-bottom: 100px;
}

#project {
  background-color: #e8dffc;
}

body {
  min-height: 3000px;
}

#project .col-md-4 {
  width: 300px;
}

.card {
  margin-bottom: 10px;
}
